<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <title>Lighten</title>
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <link rel="stylesheet" href="/static/css/style.css">
      <link rel="stylesheet" href="/static/css/responsive.css">
      <link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css">
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" >
   </head>
   <body class="main-layout">
      <div class="loader_bg">
         <div class="loader"><img src="/media/images/loading.gif" alt="#"/></div>
      </div>
      <header>
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                  <div class="full">
                     <div class="center-desk">
                        <div class="logo"><a href="#"><img src="/media/images/logo.jpg" alt="logo"/></a></div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-7 col-lg-7 col-md-9 col-sm-9">
                  <div class="menu-area">
                     <div class="limit-box">
                        <nav class="main-menu">
                           <ul class="menu-area-main">
                              <li class="active"> <a href="#">Home</a></li>
                              <li> <a href="about.html">About</a> </li>
                              <li> <a href="product.html">product</a> </li>
                              <li> <a href="login"> Login</a> </li>
                              <li class="mean-last"> <a href="signup">Signup</a> </li>
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
               <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
                  <li><a class="buy" href="#">Login</a></li>
               </div>
            </div>
         </div>
      </header>
  
      <section class="slider_section">
         <div id="main_slider" class="carousel slide banner-main" data-ride="carousel">

            <div class="carousel-inner">
               <div class="carousel-item active">
                  <img class="first-slide" src="https://images.unsplash.com/photo-1542060748-10c28b62716f?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="First slide">
                  <div class="container">
                     <div class="carousel-caption relative">
                        <h1 style="color: #fff;">Our <br> <strong class="black_bold" style="color: #fff;">Latest </strong><br>
                           <strong class="yellow_bold">Product </strong></h1>
                        <p style="color: #fff;">Discover the latest fashion trends on our website, where convenience meets style, offering a diverse collection for a delightful online shopping experience. </p>
                        <a  href="#">see more Products</a>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <img class="second-slide" src="https://images.unsplash.com/photo-1489987707025-afc232f7ea0f?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Second slide">
                  <div class="container">
                     <div class="carousel-caption relative">
                        <h1>Our <br> <strong class="black_bold">Latest </strong><br>
                           <strong class="yellow_bold">Product </strong></h1>
                        <p style="color: green;">Discover the latest fashion trends on our website, where convenience meets style, offering a diverse collection for a delightful online shopping experience. </p>
                        <a  href="#">see more Products</a>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <img class="third-slide" src="https://images.unsplash.com/photo-1561526116-e2460f4d40a9?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Third slide">
                  <div class="container">
                     <div class="carousel-caption relative">
                        <h1 style="color: #fff;">Our <br> <strong class="black_bold" style="color: #fff;">Latest </strong><br>
                           <strong class="yellow_bold">Product </strong></h1>
                        <p style="color: #fff;">Discover the latest fashion trends on our website, where convenience meets style, offering a diverse collection for a delightful online shopping experience. </p>
                        <a  href="#">see more Products</a>
                     </div>
                  </div>
               </div>

            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class='fa fa-angle-right'></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class='fa fa-angle-left'></i>
            </a>
            
         </div>

      </section>

      <div class="whyschose">
         <div class="container">

            <div class="row">
               <div class="col-md-7 offset-md-3">
                  <div class="title">
                     <h2>Why <strong class="black">choose us</strong></h2>
                     <span>Quality, Style, Convenience – Elevate Your Fashion Experience With Us.</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="choose_bg">
         <div class="container">
            <div class="white_bg">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="for_box">
                     <i><img src="https://i.ibb.co/PmhFRcc/wide.jpg"/></i>
                     <h3>Wide Selection</h3>
                     <p>Diverse range, broad variety – our selection suits every preference.</p>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="for_box">
                     <i><img src="https://i.ibb.co/kJ0j5MM/Competitive-Pricing.jpg"/></i>
                     <h3>Competitive Pricing</h3>
                     <p>Affordable rates, unbeatable value – get more for your budget.</p>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="for_box">
                     <i><img src="/media/images/User-Friendly.jpg"/></i>
                     <h3>User-Friendly Experience</h3>
                     <p>Intuitive interface, seamless navigation – enjoy a hassle-free, user-centric journey.</p>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="for_box">
                     <i><img src="/media/images/Customer-Reviews.jpg"/></i>
                     <h3>Customer Reviews</h3>
                     <p>Insightful feedback, satisfied customers – discover experiences that speak volumes.</p>
                  </div>
               </div>
               <div class="col-md-12">
                  <a class="read-more">Read More</a>
               </div>
            </div>
         </div>
       </div>
      </div>

      <div class="service">
         <div class="container">
            <div class="row">
               <div class="col-md-8 offset-md-2">
                  <div class="title">
                     <h2>Service <strong class="black">Process</strong></h2>
                     <span>Effortless Shopping: Browse, Select, Checkout – Enjoy Seamless Clothing Retail Experience.</span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="service-box">
                     <i><img src="/media/icon/service1.png"/></i>
                     <h3>Fast service</h3>
                     <p>Swift Delivery, Instant Checkout – Experience Speedy Service With Us. Quick, Seamless, Instant, Speedy.</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="service-box">
                     <i><img src="/media/icon/service2.png"/></i>
                     <h3>Secure payments</h3>
                     <p>Safe Transactions: Secure Payments for Confident and Hassle-Free Shopping Experience. </p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="service-box">
                     <i><img src="/media/icon/service4.png"/></i>
                     <h3>Affordable services</h3>
                     <p>Budget-Friendly Choices: Access Affordable Fashion Without Compromising Style and Quality.</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="service-box">
                     <i><img src="/media/icon/service5.png"/></i>
                     <h3>20 Days warranty</h3>
                     <p>20 Days Warranty: Shop with Confidence, Guaranteed Quality and Satisfaction. </p>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="product">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                     <h2>our <strong class="black">products</strong></h2>
                     <span>We package the products with best services to make you a happy customer.</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="product-bg">
         <div class="product-bg-white">
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="product-box">
                     <i><img src="https://i.ibb.co/W0D9gnt/t-shirt-man.jpg"/></i>
                     <h3>T-Shirt Man</h3>
                     <span>$10.00</span>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="product-box">
                     <i><img src="https://i.ibb.co/VHpXKZL/track-suit.jpg"/></i>
                     <h3>Track Suit</h3>
                     <span>$13.00</span>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="product-box">
                     <i><img src="https://i.ibb.co/GT2KKL6/court.jpg"/></i>
                     <h3>Huddy Men</h3>
                     <span>$15.00</span>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="product-box">
                     <i><img src="https://i.ibb.co/hm5hcgt/51-Hz7-KZL2-TL-AC-UY1100-FMwebp.webp"/></i>
                     <h3>Avengers Logo Huddy</h3>
                     <span>$25.00</span>
                  </div>
               </div>
               </div>
            </div>
         </div>

         <div class="container">
            <div class="yellow_bg">
            <div class="row">
               <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                  <div class="yellow-box">
                     <h3>REQUEST A FREE QUOTE<i><img src="/media/icon/calll.png"/></i></h3>
                     
                     <p>Get answers and advice from people you want it from.</p>
                  </div>
               </div>
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                  <div class="yellow-box">
                     <a href="#">Get  Quote</a>
                  </div>
               </div>
            </div>
         </div>
         </div>
      </div>
      <br>
      <div class="container-fluid">
         <div class="map">
            <iframe width="100%" height="250" id="gmap_canvas" style="border: 2px solid black;" src="https://maps.google.com/maps?q=Baddi+Big+Bazaar+%26+Baddi+Market&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
         </div>
      </div>


      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-6 offset-md-3">
                     <ul class="sociel">
                         <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                         <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                         <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                         <li> <a href="#"><i class="fa fa-youtube"></i></a></li>
                         <li> <a href="#"><i class="fa fa-linkedin"></i></a></li>
                     </ul>
                  </div>
            </div>
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="contact">
                     <h3>Visit Us Today</h3>
                     <span>123 Second Street Big Bazzar,<br>
                       baddi, Himachal Perdesh,india<br>
                        +987 654 3210</span>
                  </div>
               </div>
                 <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="contact">
                     <h3>ADDITIONAL LINKS</h3>
                     <ul class="lik">
                         <li style="padding-top: 15px;"> <a href="#">About us</a></li>
                         <li style="padding-top: 15px;"> <a href="#">Terms and conditions</a></li>
                         <li style="padding-top: 15px;"> <a href="#">Privacy policy</a></li>
                         <li style="padding-top: 15px;"> <a href="#">News</a></li>
                          <li style="padding-top: 15px;"> <a href="#">Contact us</a></li>
                     </ul>
                  </div>
               </div>
                 <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="contact">
                     <h3>service</h3>
                      <ul class="lik">
                    <li style="padding-top: 15px;"> <a href="#"> Shop Men's Clothing</a></li>
                         <li style="padding-top: 15px;"> <a href="#">Shop Women's Clothing</a></li>
                         <li style="padding-top: 15px;"> <a href="#">New Arrivals</a></li>
                         <li style="padding-top: 15px;"> <a href="#">Sale and Clearance</a></li>
                          <li style="padding-top: 15px;"> <a href="#">Technical support</a></li>
                  </div>
               </div>
                 <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="contact">
                     <h3>About lighten</h3>
                     <span>Lighten: Elevate your style with chic fashion and curated collections.</span>
                  </div>
               </div>
            </div>
         </div>
            <div class="copyright">
               <p>@Lighten - Copyright 2024 All Right Reserved</p>
            </div>
         
      </div>
      </footer>
      <script src="/static/js/jquery.min.js"></script> 
      <script src="/static/js/popper.min.js"></script> 
      <script src="/static/js/bootstrap.bundle.min.js"></script> 
      <script src="/static/js/jquery-3.0.0.min.js"></script> 
      <script src="/static/js/plugin.js"></script>
      <script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script> 
      <script src="/static/js/custom.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
         
         $(".zoom").hover(function(){
         
         $(this).addClass('transition');
         }, function(){
         
         $(this).removeClass('transition');
         });
         });
         
      </script> 
   </body>
</html>